<div class="row">
  <div class="panel callout radius">
    <div style="float: left;">
        <% test = Profile.find(@conversation.first.received_messageable.id) %>
        <p><%= image_tag test.profile_picture.url %></p>
    </div>
    <div style="float: left;">
        <h3 style="padding-left: 20%; padding-right: 15%">
          <%= @conversation.first.received_messageable.first_name %>
        </h3>
        <br/>
        <p style="padding-left: 5%; text-decoration-color: black;"><%= link_to "Messages ", messages_url()%>&nbsp; &nbsp; &nbsp;<%= link_to "Profile", profile_path(@conversation.first.received_messageable) %></p>
    </div>
    <div style="clear: left;"></div>

      <div id="messagesDiv" class="panel clearfix">
        <%= render 'list' %>
      </div>

    <h3><a href="<%= profile_path(@conversation.first.sent_messageable) %>">
      <%= @conversation.first.sent_messageable.first_name %>
    </a></h3>

    <%= form_tag reply_messages_path, :method => :get, :remote => true do %>
      <%= hidden_field_tag :message_id, @messages.last.id %>
        <%= text_area_tag "body", '', :class => "message form-control", :placeholder => "Type your reply here..." %>
      <%= submit_tag 'Reply', class: "small round button" %>
    <% end %>
  </div>
</div>

<script type="text/javascript">
$(document).ready(
  function(){
    setInterval(function(){
      $('#messagesDiv').load('<%= fetch_conversation_message_path(@message) %>');
    }, 3000);
  });
</script>
