<div class="row">
  <div class="small-12 columns"> 
  <%unless @messages.blank?%>
    <%@messages.each do |message|%>
        <%sender = sender(message)%>
        <b><%= link_to sender.first_name, user_path(sender) %></b> 
        <br/>
        <b><%= message.topic %>:</b>
        <br/>
        <%= message.body %>
    <%end%>
  <br/>
  <br/>
  <%=form_tag reply_messages_path do%>
    <%= hidden_field_tag :message_id, @messages.last.id %>
      <%= text_area_tag "body", '', :class => "form-control", :placeholder => "Reply" %>

    <div class="">
      <button class="round button" type="submit">Send</button>
    </div>
  </div>
</div>
  <%end%>

  <%else%>
    You have no messages!
<%end%>