<div class="row ">
  <div style="padding: 10px">
    <div class="panel callout radius">
      <h3>Conversation between
        <a href="<%= profile_path(@conversation.first.sent_messageable) %>">
          <%= @conversation.first.sent_messageable.first_name %>
        </a>
        and
        <a href="<%= profile_path(@conversation.first.received_messageable) %>">
          <%= @conversation.first.received_messageable.first_name %>
        </a>
      </h3>
      <%= form_tag reply_messages_path, :method => :get, :remote => true do %>
          <%= hidden_field_tag :message_id, @messages.last.id %>
          <div>
            <%= text_area_tag "body", '', :class => "message form-control", :placeholder => "Enter Message here" %>
          </div>
          <%= submit_tag 'Reply', class: "small round button" %>
      <% end %>
    </div>
    <div id="messagesDiv" class="panel clearfix">
        <%= render 'list' %>
    </div>
  </div>
</div>
<script type="text/javascript">
$(document).ready(
  function(){
    setInterval(function(){
      $('#messagesDiv').load('<%= fetch_conversation_message_path(@message) %>');
    }, 3000);
  });
</script>