<%=form_tag reply_messages_path do%>
  <%= hidden_field_tag :message_id, @messages.last.id %>
	  <%= text_area_tag "body", '', :class => "form-control", :placeholder => "Enter Message here" %>


  <div class="row">
    <button class="btn btn-primary btn-cons pull-right" type="submit">Reply</button>
  </div>
<%end%>

<%unless @messages.blank?%>
  <%@messages.each do |message|%>
      <%sender = sender(message)%>
      <b><%= link_to sender.first_name, user_path(sender) %></b> <br/>
      <b><%= message.topic %>:</b>&nbsp;<%= message.body %>
  <%end%>

<%else%>
  You have no messages!
<%end%>