<p>Home</p>
  <li><a href="#" class="active">New Message</a> </li>

<h3>New Message to <b><%= @user.first_name %></b></h3>

<%=form_tag send_message_messages_path do%>
  <%= hidden_field_tag :user_id, @user.id %>
  <div class="row">
	  <%= text_field_tag "subject", '', :class => "form-control", :placeholder => "Subject" %>
  </div>

  <div class="row">
	  <%= text_area_tag "body", '', :class => "form-control", :placeholder => "Enter Message here" %>
  </div>

  <div class="row">
      <button class="btn btn-primary btn-cons pull-right" type="submit">Send</button>
  </div>
<%end%>