<div class="row panel clearfix">
  <div class="small-12 columns">

    <h3>New Message to
      <b><%= @user.first_name %></b></h3>
    <%= image_tag @user.profile.profile_picture.url %>
    <br/>
    <%= form_tag send_message_messages_path do %>
        <%= hidden_field_tag :user_id, @user.id %>
        <div class="">
          <%= text_field_tag "subject", '', :class => "form-control", :placeholder => "Subject" %>
        </div>

        <div class="">
          <%= text_area_tag "body", '', :class => "form-control", :placeholder => "Enter Message Here" %>
        </div>
        <%= submit_tag 'Send', class: 'small round button' %>
    <% end %>
  </div>
</div>