
<div class="row panel clearfix">
  <section id="profile" style="background-color: dodgerblue; min-height: 400px; margin-right: 1.5%; margin-left: 1.5%;">
    <div class="small-3 small-centered columns">
      <p style="padding-top: 20%"><%= image_tag @profile.profile_picture.url, :style => "width: 300px" %></p>
    </div>
    <div style=" float: left; margin-left: 34%"><h2> <%= @profile.user.first_name %></h2></div>
    <div style=" float: right; margin-right: 36%"><h2> <%= @profile.user.last_name %> </h2></div>
    <div style="clear: left"></div>

  </section>
  <div class="small-12 columns">
    <fieldset class="arrow_box" style="border-radius: 5px;">
  <%= form_for @profile, :html => {:multipart => true} do |f| %>
    
    <div class="">
      <label>Gender:</label>
        <%= f.radio_button :gender, id="Male", :selected => true %><label>Male</label>
        <%= f.radio_button :gender, id="Female" %><label>Female</label>
    </div>

    <div class="">
      <label>Profile Picture:</label> 
      <%= f.file_field :profile_picture  %>
    </div>

    <div class="small-12 columns">
      <label>Search Distance (km):</label>
      <input name="profile[search_distance]" type="range" min="1" max="100" id="distance_slider" step="1" value="<%= @profile.search_distance %>">
    <div id="search_distance"><%= @profile.search_distance %>
    </div>
    </div>

    <br/>

    <div class="small-12 columns">
      <label>Search Age (years):</label> 
      <input name="profile[search_age]" type="range" min="1" max="100" id="age_slider" step="1" value="<%= @profile.search_age %>">
    <div id="search_age"><%= @profile.search_age %>
    </div>
    </div>

    <br/>

    <div class="row">
      <div class="small-12 columns">
        <label>City:</label>
        <%=f.text_field :city%>
      </div>
    </div>

    <div class="row">
      <div class="small-12 columns">
        <label>Age:</label>
        <%=f.text_field :age%>
      </div>
    </div>

    <div class="row">
      <div class="small-12 columns">
        <label>Workout Interests:</label>
        <%=f.text_field :interests%>
      </div>
    </div>

    <div class="row">
      <div class="large-12 columns">
        <%= f.submit "Update Profile", class: "small round button"%>
      </div>
    </div>
    <%end%>
    </fieldset>
  </div>
</div>

<script type="text/javascript">
  $("#distance_slider").change(function () {
    var newValue = $('#distance_slider').val();
    $("#search_distance").html(newValue);
  });
  $("#age_slider").change(function () {
    var newValue = $('#age_slider').val();
    $("#search_age").html(newValue);
  });
</script>

<style>
    .arrow_box { position: relative; background: #ffffff; border: 1px solid #3676f5; }
    .arrow_box:after, .arrow_box:before { bottom: 100%; left: 10%; border: solid transparent; content: " "; height: 0; width: 0; position: absolute; pointer-events: none; }
    .arrow_box:after { border-color: rgba(255, 255, 255, 0); border-bottom-color: #ffffff; border-width: 20px; margin-left: -20px; }
    .arrow_box:before { border-color: rgba(54, 118, 245, 0); border-bottom-color: #3676f5; border-width: 21px; margin-left: -21px; }

</style>