<section id="profile" style="background-color: rgba(0,0,128,0.3); min-height: 400px;">
  <div class="small-3 small-centered columns">
    <p><%= image_tag @profile.profile_picture.url, :style => "width: 300px" %></p>
    <h1><%= @profile.user.first_name %> <%= @profile.user.last_name %></h1>
  </div>
</section>

<div class="row panel clearfix">
  <div class="small-12 columns">   

  <%= form_for @profile, :html => {:multipart => true} do |f| %>
    
    <div class="">
      <label>Gender:</label>
        <%= f.radio_button :gender, id="Male", :selected => true %><label>Male</label>
        <%= f.radio_button :gender, id="Female" %><label>Female</label>
    </div>

    <div class="">
      <label>Profile Picture:</label> 
      <%= f.file_field :profile_picture  %>
    </div>

    <div class="small-12 columns">
      <label>Search Distance (km):</label>
      <input name="profile[search_distance]" type="range" min="1" max="100" id="distance_slider" step="1" value="<%= @profile.search_distance %>">
    <div id="search_distance"><%= @profile.search_distance %>
    </div>
    </div>

    <br/>

    <div class="small-12 columns">
      <label>Search Age (years):</label> 
      <input name="profile[search_age]" type="range" min="1" max="100" id="age_slider" step="1" value="<%= @profile.search_age %>">
    <div id="search_age"><%= @profile.search_age %>
    </div>
    </div>

    <br/>

    <div class="row">
      <div class="small-12 columns">
        <label>City:</label>
        <%=f.text_field :city%>
      </div>
    </div>

    <div class="row">
      <div class="small-12 columns">
        <label>Age:</label>
        <%=f.text_field :age%>
      </div>
    </div>

    <div class="row">
      <div class="large-12 columns">
        <%= f.submit "Update Profile", class: "small round button" %>
      </div>
    </div>
    <%end%>
  </div>
</div>

<script type="text/javascript">
  $("#distance_slider").change(function () {
    var newValue = $('#distance_slider').val();
    $("#search_distance").html(newValue);
  });
  $("#age_slider").change(function () {
    var newValue = $('#age_slider').val();
    $("#search_age").html(newValue);
  });
</script>