<h1>Search Results</h1>
<p><b>Note:</b>You can change search filters by adjusting search distance and search age by editing your profile</p>

<%unless @profiles.blank?%>
  <%@profiles.each do |profile|%>
    <hr/>
    <p>Name: <%= profile.user.first_name %><%= profile.user.last_name %></p>
    <p>Gender: <%= profile.gender %></p>
    <p>Country: <%= profile.country %></p>
    <p>City: <%= profile.city %></p>
    <p>Age: <%= profile.age %></p>
    <%= link_to "Match", add_match_users_path(:match_id => profile.user.id) %>
  <%end%>
<%else%>
  there are no profiles to show
<%end%>