<div class="row" data-equalizer>
  <div class="small-12 columns">
    <h1>List of profiles</h1>
      <% unless @profiles.blank? %>
        <div class="small-3 columns" data-equalizer-watch>
          <% @profiles.each do |profile| %>
            <p><%= image_tag @profile.profile_picture.url, :style => "width: 400px" %></p>
        </div>
      <div class="small-6 columns panel" data-equalizer-watch>
        <h3><strong>Name: <%= profile.user.first_name %> <%= profile.user.last_name %></strong></h3>
        <br/>
        <p>Gender: <%= profile.gender %></p>
        <p>Age: <%= profile.age %></p>
        <p>City: <%= profile.city %></p>
      </div>
        <div class="small-3 columns" data-equalizer-watch>
        <br/>
        <br/>
        <br/>
        <br/>
          <%= link_to "Match", add_match_users_path(:match_id => profile.user.id), class: 'medium round button success' %>
        </div>

      <% end %>

      <% else %>
        There are no profiles matching your requirements!
      <% end %>
  </div>
</div>

<footer class="row">
  <div class="small-12 columns">
    <hr/>
    <p><strong>Note: </strong>These search results are filtered according to location and age parameters set in your profile.</p>
  </div>
</footer>
