<div class="row panel clearfix">
  <div class="small-12 columns">
    <h1>Search Results</h1>

    <% unless @profiles.blank? %>
        <% @profiles.each do |profile| %>
            <hr/>
            <p><%= image_tag @profile.profile_picture.url %></p>

            <p>Name: <%= profile.user.first_name %> <%= profile.user.last_name %></p>

            <p>Gender: <%= profile.gender %></p>

            <p>City: <%= profile.city %></p>
            <%= link_to "Match", add_match_users_path(:match_id => profile.user.id), class: 'small round button' %>
        <% end %>

    <% else %>
        There are no profiles matching your requirements!
    <% end %>

    <footer class="row">
      <div class="small-12 columns">
        <hr/>
        <p><b>Note: </b>You can filter search results according to location and age when you edit your profile.</p>
      </div>
    </footer>
  </div>
</div>