<!-- Header -->
<div class="row">
  <div class="small-12 columns">
    <h1>Blog<br>
      <small>Gettin my dose of dopamine.</small>
    </h1>
    <hr/>
  </div>
</div>
<!-- End Header -->

<div class="row">
  <div class="small-12 columns">
    <% if current_user.eql?(@blog.user) %>
        <dl class="tabs" data-tab>
          <dd class="active"><a href="#text">Text</a></dd>
          <dd><a href="#photo">Photo</a></dd>
        </dl>
        <div class="tabs-content">
          <div class="content active" id="text">
            <fieldset>
              <%= form_for BlogPost.new do |f| %>
                  <%= f.text_area :body, :class => "redactor" %>
                  <hr>
                  <%= f.submit "Create Blog post", class: 'tiny round button' %>
              <% end %>
            </fieldset>
          </div>
          <div class="content" id="photo">
            <fieldset>
              <%= form_for BlogPost.new, :html => {:multipart => true} do |f| %>
                  <%= f.file_field :photo %>
                  <hr>
                  <%= f.submit "Create Blog post", class: 'tiny round button' %>
              <% end %>
            </fieldset>
          </div>
        </div>
    <% end %>

  <%= render 'posts' %>
  </div>
</div>