<% object.root_comments.each do |comment| %>
  <div class="panel callout radius">
    <div class="row">
      <div class="small-1 columns">
        <a href="<%= profile_path(comment.user.profile) %>"></a>
          <% unless comment.user.profile.profile_picture.blank? %>
              <%= image_tag comment.user.profile.profile_picture.url, :style => "width: 60px" %>
          <% end %>
      </div>
      <div class="small-11 columns">
          <strong><%= comment.user.first_name %></strong>
        </a>
        &nbsp;&nbsp;&nbsp; <a href="#" class="muted"><%= time_ago_in_words(comment.created_at) %> ago</a>
      </div>
<br/>
<br/>
    <div class="small-11 columns right">
      <%= comment.body %>
    </div>
    </div>
  </div>
<br/>

<% end %>

<%= form_for Comment.new, :remote => true do |f| %>
    <%= hidden_field_tag "object_id", object.id %>
    <%= hidden_field_tag "class_name", object.class %>

    <%= f.text_field :body, :placeholder => "Type your comment here..." %>

    <%= f.submit "Comment!", class: 'button tiny' %>

<% end %>