<div class="row">
  <div class="small-12 columns">

    <div class="panel">
      <div class="left">
        <% if @blog_post.body.blank? %>
            <%= image_tag(@blog_post.photo.url) %>
        <% else %>
            <%= raw(@blog_post.body) %>
        <% end %>
      </div>
      <% if @blog_post.user.eql?(current_user) %>
          <div class="row right">
            <%= link_to "Delete this Post", blog_post_path(@blog_post), :method => :delete, :confirm => "Are you sure you want to delete this blogpost?", class: 'tiny button alert' %>
          </div>
      <% end %>
      <div style="clear: both;"></div>
      <div id="comments_div_<%= @blog_post.id %>">
        <%= render :partial => "comments", :locals => {:object => @blog_post} %>
      </div>
    </div>
  </div>
</div>