<section id="logo">
  <div class="small-9 small-centered columns">
    <h1>DOPAMINE</h1>
    <h3>Workout partners. Infinite possibilities.</h3>
    <h5>Find a friend to workout with today.</h5>
    <%= image_tag 'dopamine1.png' %>
  </div>
</section>

<section id="about-us" style="background-color: rgba(199,237,232,0.3); height: 400px;">
  <div class="small-12 small-centered columns">
    <%= render 'about_us' %>
  </div>
</section>

<section id="how-to-use" style="background-color: rgba(160,222,214,0.4); min-height: 400px;">
  <div class="small-12 small-centered columns">
    <%= render 'how_to_use' %>
  </div>
</section>

<section id="faq" style="background-color: rgba(69,181,196,0.3); min-height: 400px;">
  <div class="small-12 small-centered columns">
    <%= render 'faq' %>
  </div>
</section>

<section id="contact-us" style="background-color: rgba(22,147,165,0.3); min-height: 400px;">
  <div class="small-12 small-centered columns">
    <%= render 'contact_us' %>
  </div>
</section>