<%# add navigation links to this file %>

<nav class="top-bar">
<div class="top-bar-section">
  <ul class="right">
    <li class="divider"></li>
    <li><%= link_to "Blog", blog_path(current_user.blog) %></li>
    <li class="divider"></li>
    <li><%= link_to "Profile", profile_path(current_user.profile) %></li>
    <li class="divider"></li>
    <li><%= link_to "Search Profiles", search_profiles_profiles_path %></li>
    <li class="divider"></li>
    <li><%= link_to "Matches", matches_users_path %></li>
    <li class="divider"></li>
    <li><a href="<%= messages_path %>">Messages</a></li>
    <li class="divider"></li>
    <li><%= link_to "Log Out", destroy_user_session_path, :method => :delete %></li>
  </ul>
</div>
</nav>
